framework:
    messenger:
        failure_transport: failed

        transports:
            async:
                dsn: 'redis://redis:6379/messages'
                retry_strategy:
                    max_retries: 2
                    delay: 5000
                    multiplier: 2
            failed: 'doctrine://default?queue_name=failed'

        routing:
            'App\Message\ExecuteScheduledTaskMessage': async

when@test:
    framework:
        messenger:
            transports:
                async: 'in-memory://'
